.Projects {
  width: 90%;
  max-width: 1200px;
  margin: 1rem auto;
}


.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.project:nth-child(odd) {
  flex-direction: row;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}


/* PICTURE */
.project-img-container {
  width: 50%;
  display: flex;
  align-items: center;
}

.project-img {
  width: 100%;
  height: auto;
}



/* CONTENT */
.project-content-container {
  width: 45%;
  border-top: 2px solid var(--btn-color);
  border-bottom: 2px solid var(--btn-color);


  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-name {
  margin-top: .5rem;
  font-size: 1.75rem;
}

.project-description {
  font-size: 1rem;
  line-height: 1.65;
  margin: 1rem 0;
}

.project-link-container {
  margin-bottom: 1rem;
}

.project-link {
  font-size: .9rem;
  text-decoration: none;
  color: #000;
  margin-right: 1rem;

  background-color: var(--btn-color);
  padding: .4rem;
  border-radius: .3rem;
}

.project-link:hover {
  background-color: var(--btn-hover-color);
  transition: .25s;
  color: var(--home-bg-color);
}


/* SCROLL BUTTON */
.scroll-button {
  position: fixed;
  right: 1rem;
  /* transform: translateX(-50%); */
  bottom: 1rem;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px;
  padding: .5rem;
  outline: none;
  border: none;
  /* background-color: rgba(141, 142, 143, 0.21);
  background-color: rgba(83, 156, 190, 0.5); */
  background-color: #F4AE7C;
}

.scroll-button i {
  color: #000;
}


/* no hover on mobile */
@media only screen and (min-width: 500px) {
  .scroll-button:hover {
    background-color: rgba(141, 142, 143, 0.5);
    transition: .25s;
    color: var(--home-bg-color);
  }
}




/* portrait view */
@media only screen and (max-width: 650px) {
  .Projects {
    margin-top: 0;
  }


  .project:nth-child(odd) {
    flex-direction: column;
  }

  .project:nth-child(even) {
    flex-direction: column;
  }

  .project {
    align-items: center;
  }


  /* PICTURE */
  .project-img-container {
    width: 90%;
  }


  /* CONTENT */
  .project-content-container {
    width: 90%;

  margin-top: 2rem;
  }
}
