.About {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1200px;
  margin: 8vh auto;
}


/* PICTURE */
.portrait-container {
  width: 350px;
}

.portrait {
  width: 100%;
  height: auto;
}



/* TEXT CONTENT */
.about-text-container {
  width: 70%;
}

.about-header {
  font-size: 1.75rem;
}

.about-body {
  font-size: 1rem;
  line-height: 1.65;
  margin: 1rem 0;
}

.bold-txt {
  font-weight: bold;
}


/* BUTTONS */
.about-nav-link {
  display: inline-block;
  font-size: .9rem;
  text-decoration: none;
  color: black;

  font-size: .9rem;
  margin: 0 1rem 1rem 0;
  background-color: var(--home-bg-color);
  padding: .4rem;
  font-family: var(--sub-font);
  border: 1px solid #4A7A97;
  cursor: pointer;
}

.about-nav-link:hover {
  background-color: #4A7A97;
  color: var(--home-bg-color);
  transition: .25s;
}

/* BORDER */
.about-border {
  width: 1px;
  margin: 4rem;
  height: 30vh;
  border: 1px solid var(--btn-color);
}

.about-icon-container {
  margin-bottom: 1rem;
}

.about-icon {
  margin-right: 1rem;
  fill:#4A7A97;
  width: 32px;
  height: 32px;
  cursor: pointer;
  vertical-align: middle;
}


/* no hover on mobile */
@media only screen and (min-width: 500px) {
  .about-icon:hover {
    fill: #5A8EAD;
  }
}


/* portrait view */
@media only screen and (max-width: 650px) {
  .About {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 2.5rem;
  }


  /* PICTURE */
  .portrait-container {
    width: 70%;
  }


  /* TEXT CONTENT */
  .about-text-container {
    width: 100%;
    margin-right: 0;
  }

  .about-body {
    margin-top: .5rem;
    margin-bottom: 1.25rem;
    line-height: 1.5;
  }


  /* BORDER */
  .about-border {
    width: 1px;
    margin: 2.5rem;
    height: 1px;
    width: 30vw;
    border: 1px solid var(--btn-color);
  }
}
