.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 90%;
  max-width: 700px;
  margin: 8vh auto;
  min-height: 300px;
}


/* NON FORM */
.contact-head-container {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--btn-color);
}

.contact-header {
  font-size: 1.75rem;
}

.contact-content {
  font-size: 1rem;
  line-height: 1.65;
  margin-bottom: 1rem;
  margin-top: .25rem;
}

.contact-icon-container {
  margin-bottom: 1rem;
}

.contact-icon {
  margin-right: 1rem;
  fill:#2A6E58;
  width: 32px;
  height: 32px;
  cursor: pointer;
  vertical-align: middle;
}


/* no hover on mobile */
@media only screen and (min-width: 500px) {
  .contact-icon:hover {
    fill: #63a282;
  }
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.contact-field {
  margin: 0.7rem 0;
  display: flex;
  flex-direction: column;
}

.contact-field:first-child {
  margin-top: 0;
}

.contact-field label {
  margin-bottom: 0.25rem;
}

.contact-field input {
  height: 2rem;
  padding: 1rem;
  outline: none;
  border: none;
  font-family: var(--sub-font);
}

.contact-field input:focus {
  outline: 1px dotted #2A6E58;
}



.contact-field textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 7rem;
  max-height: 10rem;
  outline: none;
  padding: 1rem;
  margin-bottom: .5rem;
  border: none;
  font-family: var(--sub-font);
}

.contact-field textarea:focus {
  outline: 1px dotted #2A6E58;
}

.contact-form button {
  width: 25%;
  padding: 0.5rem;
  outline: none;
  border-color: none;
  color: #e5eaed;
  background-color: #2A6E58;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  font-family: var(--sub-font);
}

.contact-form button:focus {
  outline: 2px dotted black;
}


.contact-form button:hover {
  background-color: var(--home-bg-color);
  border: 1px solid #2A6E58;
  color: #2A6E58;
  transition: .25s background-color;
}




/* portrait display */
@media only screen and (max-width: 650px) {
  .Contact {
    margin-top: 0rem;
    margin-bottom: 0;
  }
}
